@font-face {
  font-family: 'Grace';
  src: url('../assets/fonts/Grace.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Vatroge-Display';
  src: url('../assets/fonts/Vatroge-Display.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Visby-Round';
  src: url('../assets/fonts/Visby-Round.ttf');
  font-weight: normal;
  font-style: normal;
}

* {  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html, body {
  left: 0;
  top: 0;
  font-family: 'Vatroge-Display', sans-serif;
  overflow-x: hidden;
  background: #1a1a1a;
}

section {
  display: flex;
  align-items: center;
	justify-content: space-between;
	height: 100vh;	
	position: relative;
}

p {
  color: white;
  padding: 6vw;
  font-family: 'Visby-Round', sans-serif;
  font-size: 3vw;
}

h2 {
  color: white;
  padding-left: 4vw;
  padding-top: 4vh;
  padding-bottom: 1vw;
  font-family: 'Visby-Round', sans-serif;
  font-size: 3vw;
  weight: 40
}

h3 {
  color: white;
  padding-left: 4vw;
  padding-right: 6vw;
  font-family: 'Visby-Round', sans-serif;
  font-size: 2vw;
  font-weight: normal;
}

ul {
  color: white;
  padding-left: 6vw;
  padding-right: 6vw;
  font-family: 'Visby-Round', sans-serif;
  font-size: 2vw;
}

.align-right {
  margin-left: auto; 
  margin-right: 0;
  width: 50vw;
  text-align: right;
}

.align-left {
  margin-right: auto; 
  width: 50vw;
  text-align: left;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.header .h1 {
  position: relative;
  font-size: 18vw;
  font-weight: 600; 
  color: #e0e0e0;
  line-height: 1.125;
}

.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  display: flex;
}

.bar {
  width: 10vw;
  height: 105vh;
  background: #e0e0e0;
}

.counter {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  z-index: 10000;
  color: #1a1a1a;
  padding: 0.2em 0.4em;
  font-size: 20vw;
}

.bg {
  position: absolute;
  width: 30vw; 
  height: 40vh;
  top: 25vh;
  left: 1vw;
}

.hero {
  height: 100vh;
  color: #1a1a1a;
}

.section-two {
	background-color: #7692c4;
}

.section-three {
	background-color: #f65252;
}

.section-four {
	background-color: #5aaf70;
}

.section-five {
	background-color: #f36345;
}

.section-six {
	background-color: #a175f1;
}

.section-seven {
	background-color: #8293f2;
}

.section-eight {
	background-color: #f3a2a2;
}

.section-nine {
	background-color: #83c2f2;
  height: 350vh;
}

html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}