@font-face {
  font-family: 'Grace';
  src: url('assets/fonts/Grace.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Vatroge-Display';
  src: url('assets/fonts/Vatroge-Display.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Visby-Round';
  src: url('assets/fonts/Visby-Round.ttf');
  font-weight: normal;
  font-style: normal;
}

* {  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html, body {
  left: 0;
  top: 0;
  font-family: 'Vatroge-Display', sans-serif;
  overflow-x: hidden;
  background: #1a1a1a;
}

section {
	width: 100%;
	height: 100vh;	
	position: relative;
}

p {
  color: white;
  padding: 2em;
  font-family: 'Visby-Round', sans-serif;
  text-align: left;
  font-size: 2.7vw
}

.align-right {
  display: flex;
  justify-content: flex-end;
  width: 50vw;
}

.align-left {
  align: left;
  width: 50vw;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.header .h1 {
  position: relative;
  font-size: 18vw;
  font-weight: 600; 
  color: #e0e0e0;
  line-height: 1.125;
}

.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  display: flex;
}

.bar {
  width: 10vw;
  height: 105vh;
  background: #e0e0e0;
}

.counter {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  asign-items: flex-end;
  z-index: 10000;
  color: #1a1a1a;
  padding: 0.2em 0.4em;
  font-size: 20vw;
}

.bg {
  position: absolute;
  width: 30vw; 
  height: 40vh;
  top: 25vh;
  left: 1vw;
}

.hero {
  height: 82vh;
  color: #1a1a1a;
}

.section-two {
	background-color: #4682b4;
}

.section-three {
	background-color: #B22222;
}

.section-four {
	background-color: #00ff00;
}

.section-five {
	background-color: #808080;
}

.section-six {
	background-color: #808080;
}

.section-seven {
	background-color: #808080;
}

.section-eight {
	background-color: #808080;
}