:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.15;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;

  overflow-x: hidden;
}

section {
	width: 100%;
	height: 100vh;	
	position: relative;
}

.section-one {
	background-color: #181861;
}

.section-two {
	background-color: #4682b4;
}

.section-three {
	background-color: #B22222;
}

.section-four {
	background-color: #00ff00;
}

.section-five {
	background-color: #808080;
}

.section-six {
	background-color: #808080;
}

.section-seven {
	background-color: #808080;
}

.section-eight {
	background-color: #808080;
}